.task-item-container{
    border-radius: 10px;
    background-color: #333;
    display: flex;
    padding: 0.3em 1em;
    gap: 10px;
    font-size: large;
    align-items: center;
}

.task-item-img{
    filter: invert(1);
}

.task-item-container-unactive{
    background-color: #111;
}